<ion-view ng-controller="apparelsCtrl">
 
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;" ng-click="goBackHome()" class="button button-clear">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-header-bar>

    <ion-content>
    
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="apparel in apparelsItems" ng-click="apparelDetails(apparel)">
                <img ng-src={{apparel.pimageData}}></img>
                <h3>{{apparel.pname}}</h3>
                <p>{{apparel.pdescription}}</p>    
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
