<ion-view ng-controller="SmsCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;float:right;position:absolute;right:0vh;" ng-click="settingsPage()" class="button">
            <i class="icon ion-gear-a"></i>
        </button>
    </ion-header-bar>
    <ion-content ng-controller="SmsCtrl">
        <button style="height:20vh;width:20vh;border-radius:50vh;margin:auto;position:relative;top:35vh;" class="button button-full button-assertive" ng-click="sendSMS()">SOS</button>
    </ion-content>
</ion-view>
