<ion-view ng-controller="jobsCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;" ng-click="goBackHome()" class="button button-clear">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="job in jobsItems" ng-click="jobDetails(job)">
                <img src={{job.img}}></img>
                <h3>{{job.name}}</h3>
                <p>{{job.description}}</p>    
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
