<ion-view ng-controller="journalsCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;" ng-click="goBackHome()" class="button button-clear">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="journal in journalsItems" ng-click="journalsDetails(journal)">
                <img src={{journal.pimageData}}></img>
                <h3>{{journal.pname}}</h3>
                <p>{{journal.pdescription}}</p>    
            </ion-item>
        </ion-list>
  
    </ion-content>
</ion-view>
