<ion-view ng-controller="profileCtrl">

<ion-floating-button click="editProfile()" has-footer="true" button-color="	#800000" icon="ion-edit" icon-color="#fff">
</ion-floating-button>

    <ion-content>   
        <ion-list>
            <ion-item style="background:url('img/redTexture.jpg') no-repeat fixed;background-size:100%;min-height:23vh;text-align:center;">
                <img src={{profile.profilePic}} style="border-radius:50%;width:17vh;height:17vh;">
                <p style="color:white;"><b>{{profile.name}}</b></p>
                <p style="color:white;">{{profile.email}}</p>
            </ion-item>
            <ion-item>
                <h3>Number</h3>
                <p>{{profile.number}}</p>
            </ion-item>
            <ion-item>
                <h3>DOB</h3>
                <p>{{profile.dob | date: "yyyy-MM-dd"}}</p>
            </ion-item>
            <ion-item>
                <h3>Gender</h3>
                <p>{{profile.gender}}</p>
            </ion-item>
        </ion-list>       
    </ion-content>
</ion-view>
