<ion-view ng-controller="settingsCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;" ng-click="goBack()" class="button button-clear">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name:</span>
                <input type="text" ng-model="sender.name" placeholder="Enter Your Name"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">Number:</span>
                <input type="tel" ng-model="sender.number" placeholder="Enter Your Number"></input>
            </label>
        </div>
        <!--      <span ng-show="showSenderErrorMsg" style="color:red;">Invalid name or number</span>  -->
        <button class="button button-block" ng-click="saveSender()">Save</button>
        <hr/>
        
        <h4 style="text-align:center;">Enter upto 10 Emergency Contact Numbers</h4>
        
        <div class="list" style="margin-bottom:0px;">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="tel" ng-model="reciever.number" placeholder="Enter 10 digit Numbers"></input>
                </label>
                <button class="button button-small" ng-click="pickContact()" ng-disabled="disableNumberAdd">
                    <i class="icon ion-person-add"></i>
                </button>
                <button class="button button-small" ng-click="addNumber(reciever.number)" ng-disabled="disableNumberAdd">Add</button>
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="number in recieverNumbers track by number">
                <span>{{number}}</span>
                <span style="right:1vh;color:red;position:absolute;font-size:5vh;" ng-click="deleteNumber($index)">&times</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
