<ion-view ng-controller="SmsCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <button style="color: white;float:right;position:absolute;right:0vh;" ng-click="settingsPage()" class="button">
            <i class="icon ion-gear-a"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <!-- SOS button Div -->
        <div style="text-align:center;position:relative;top:25vh;width:100%;">
            <button style="height:20vh;width:20vh;border-radius:50vh;margin:auto;" class="button button-full button-assertive" ng-dblclick="sendSMS()">SOS</button>
            <br/>
            <p>Note : Please double tap to send message</p>
        </div>
    </ion-content>
</ion-view>
