<ion-view ng-controller="SmsCtrl">
    <ion-header-bar class="sub-head bar-assertive" ng-show="showHeaderBar">
        <button style="color: white;float:right;position:absolute;right:0vh;" ng-click="settingsPage()" class="button">
            <i class="icon ion-gear-a"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div ng-show="showRegister" id="inputEnterDiv">
            <h4>Login Page</h4>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Enter your name" ng-model="msgSender.name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Number</span>
                    <input type="tel" placeholder="Enter your mobile number" ng-model="msgSender.number">
                </label>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="tel" style="width:100%;" ng-model="reciever.number" placeholder="Enter 10 digit reciever Numbers"></input>
                    </label>
                    <button class="button button-small" ng-click="pickContact()" ng-disabled="disableNumberAdd">
                        <i class="icon ion-person-add"></i>
                    </button>
                    <button class="button button-small" ng-click="addNumber(reciever.number)" ng-disabled="disableNumberAdd">Add</button>
                </div>
            </div>
            <button class="button button-block button-balanced" ng-click="saveUser()">Login</button>
            <ion-list>
                <ion-item ng-repeat="number in recieverNumbers track by number">
                    <span>{{number}}</span>
                    <span style="right:1vh;color:red;position:absolute;" ng-click="deleteNumber($index)">&times</span>
                </ion-item>
            </ion-list>
            
        </div>
        <!-- SOS button Div -->
        <div ng-show="showSosButton" style="text-align:center;position:relative;top:25vh;width:100%;">
            <button style="height:20vh;width:20vh;border-radius:50vh;margin:auto;" class="button button-full button-assertive" ng-dblclick="sendSMS()">SOS</button>
            <br/>
            <p>Note : Please double tap to send message</p>
        </div>
    </ion-content>
</ion-view>
