<ion-view title="Code White">
  <ion-pane>
    <ion-tabs class="tabs-assertive">
      <ion-tab title="Home" href="#/tabs/hometab">
        <ion-nav-view name="home-tab"> </ion-nav-view>
      </ion-tab>  
      <ion-tab title="SOS" on-select="" href="#/tabs/sostab">
        <ion-nav-view name="sos-tab"> </ion-nav-view> 
      </ion-tab>
      <ion-tab title="More..." on-select="" href="">
        <ion-nav-view name="more-tab"> </ion-nav-view> 
      </ion-tab>
    </ion-tabs>
   </ion-pane> 
</ion-view>