<ion-view title="Code White">
    <ion-pane>
        <ion-tabs class="tabs-icon-top tabs-stable">
            <ion-tab title="Home " icon="ion-home " href="#/tabs/hometab ">
                <ion-nav-view name="home-tab "></ion-nav-view>
            </ion-tab>
            <ion-tab title="SOS " icon="ion-iphone " on-select="" href="#/tabs/sostab ">
                <ion-nav-view name="sos-tab "></ion-nav-view>
            </ion-tab>
            <ion-tab title="More " icon="ion-android-more-horizontal " on-select="" href="#/tabs/moretab">
                <ion-nav-view name="more-tab "></ion-nav-view>
            </ion-tab>
            <ion-tab title="Profile " icon="ion-person " on-select="" href="#/tabs/profiletab">
                <ion-nav-view name="profile-tab "></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
