#inputEnterDiv {
    width:90%;
    margin:auto;
    position:relative;
    top:3vh;
}
#inputEnterDiv h4 {
    text-align:center;
}

.col.col-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.button-circle {
    width: 13vmin;
    height: 13vmin;
    color: white;
    border-radius: 50%;
    background-color: transparent;
    border: .8vmin solid rgba(255, 255, 255, .5);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.element {
    text-align:center;
}

.profilePicPopover {
    height:15vh;
    width:40vh;
}

.profilePicPopover .button {
    width:20vh;
}